.modal {
    display: none;
}

h2 {
    font: 600 24px/125% "Inter", sans-serif;
}

p {
    font: 600 16px/150% "Inter", sans-serif;
}

.modal {
    padding: 16px;
    border-radius: 40px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.box-border {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 340px;
    width: 340px;
    border-radius: 40px;
}

.box img {
    width: 340px;
    height: 340px;
}

.description,
.additives {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.d-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.d-title p {
    font: 400 16px/150% "Inter", sans-serif;
}

.tabs {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    box-sizing: border-box;
}

.tab-button-choose .tab-circle {
    background-color: #E1D4C9;
}

.tab-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #C1B6AD;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.tab-circle p {
    font: 600 16px/150% "Inter", sans-serif;
    text-align: center;
}


.tab-button-choose {
    border: #665F55;
    background-color: #665F55;
}

.tab-button-choose .tab-text {
    color: #E1D4C9;
}

.total {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}